
*{
	margin: 0; /*end reset*/
	padding: 0; 
	box-sizing: border-box;
} /*end reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
	border: 0;
}

ol, ul {
	list-style: none;
}

.container-custom { /*Container mÃƒÂ´ng muÃ¡Â»â€˜n, thay Ã„â€˜Ã¡Â»â€¢i max-width lÃƒÂ  ok*/
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

/*header*/

.navbar {
	position: fixed;
	border: 0;
	background: none;
	-webkit-box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15); 
	box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	z-index: 10;
	width: 100%
}

.navbar-nav{
	display:block;
}

.navbar_logo_name{  
	color: #fff ;
	font-size: 20px;
}
#navbar_logo {
    width: 100px;
}
#navbar_logo_img{
	padding: 5px 10px;
}
.navbar_menu_icon{
	padding : 0 5px;
}
.navbar_toggler_menu{
	display: none;
}

.navbar.navbar-expand-md:before, .navbar.navbar-expand-md:after {
	display: none;
	/*padding: 0 5%;*/
}
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1);
	font-weight: 400;
    font-size: 14px;
    margin: 4px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #29ca8e;
    font-size: 25px;
}
.btn-login{
	border-radius: 40px;
}
.btn-register{
	border-radius: 40px;
}

.sticky{
	position: fixed;
	top:0;
	left:0;
	background-color: white!important;
	color: black;
	height: auto;
	-webkit-box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
	box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
	transition: 0.2s;
	width: 100%;
	z-index: 10;
}

.nav-item{
	font-weight: 800;
	text-transform: uppercase;
} 
.left-header{
	
}
.account-box { /* account, */
	/*float: left;*/
	position: absolute;
	top: 20px;
	right: 0;
	width: 200px;
	display: flex;
	justify-content: center;
	background: #fff;
}

.account-box-content {
	display: none;
	text-align: center
}

.nav-item-avatar {
	position: relative;
}


.nav-item-avatar img{
	border-radius: 50%; 
	width: 40px; 
	height: 40px; 
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
}
.account-box .account-box-avatar{
	border-radius: 50%; 
	width: 50px; 
	height: 50px; 
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
}

.account_header{
	display: block;
}
.account_header ul{
	margin-bottom: 0;
}
.account-box .account-avatar {
	position: absolute;
	width: 291px;
	height: 200px;
	background: white;
	top: 60px;
	right: 4px;
	border-radius: 5px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
	z-index: 20;
	display: none;
}

img.id-avatar {
	position: relative;
	margin-top: 18px;
}

.account-box-content-name {
	width: 100%;
	color: #000;
}
/*end header*/

/*banner*/
.banner{
	position: relative;
}
.banner-title{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	color: white;
}
p.mini-title {
	/* position: absolute; */
	/* margin: auto; */
	position: absolute;
	left: 70%;
	top: 53%;
	transform: translate(-2%, 135%);
	font-size: 20px;
	font-style: italic;
	font-weight: bolder;
}
.text-area {
	font-size: 70px;
	font-family: Roboto;
	/*text-transform: uppercase;*/
	font-weight: bold;
}
.text-area span {
	color: #fff;
	opacity: 0;
	transform: translate(-150px, -50px) rotate(-180deg) scale(3);
	animation: animate 4s forwards;
	display: inline-block;
}
.text-area span:nth-of-type(2) {
	animation-delay: .1s;
}
.text-area span:nth-of-type(3) {
	animation-delay: .2s;
}
.text-area span:nth-of-type(4) {
	animation-delay: .3s;
}
.text-area span:nth-of-type(5) {
	animation-delay: .4s;
}
.text-area span:nth-of-type(6) {
	animation-delay: .5s;
}
.text-area span:nth-of-type(7) {
	animation-delay: .6s;
}
.text-area span:nth-of-type(8) {
	animation-delay: .7s;
}
.text-area span:nth-of-type(9) {
	animation-delay: .8s;
}
.text-area span:nth-of-type(10) {
	animation-delay: .9s;
}
.text-area span:nth-of-type(11) {
	animation-delay: 1s;
}
.text-area span:nth-of-type(12) {
	animation-delay: 1.1s;
}

@keyframes animate {
	60% {
		transform: translate(20px, 20px) rotate(30deg) scale(.3);
	}

	100% {
		transform: translate(0) rotate(0) scale(1);
		opacity: 1;
	}
}
/*end*/

.wizard-container { /*tab*/
	padding-top: 0;
	z-index: 3;
}


/*content-main*/
.content-main{
	margin-top:-12%;
}
/*end content-main*/


/*Search*/
/*!
  https://codepen.io/ranjith555/pen/OyKjjm
  */

.panel-primary>.panel-heading {
  	background-color:#4caf50;
  	border-color: white;
}

.panel-primary {
  	box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.2);
  	border-color: white;
}

.card-customer{
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}

.card-warning:not(.card-outline)>.card-header {
    background-color: #4caf50;
    box-shadow: 0 16px 26px -10px rgba(76, 175, 80, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

h3.card-title {
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    color: white;
}


.btn.btn-custom{
  	background-color: #4caf50;
    color: #FFFFFF;
  	display:flex;
  	border-radius: 30px;
  	justify-content: center;
  	margin: 0 auto;
}
.btn_view_more_job{
	margin: 0 auto !important;
}
.btn_view_more_candidate{
	margin: 0 auto !important;
}
input.btn.btn-success.btn-lg {border-radius: 30px;}
/*end search*/
/*end tab

/*modal*/

.modal-content{
	width: 100%;
	height: auto;
	background-color: #ecf0f1;
	border-radius: 4px;
	opacity: 1;
	position: relative;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	border-radius: 18px;
}
/*.modal-content h3 {
	font-weight: bold;
	text-align: center;
	position: relative;
	margin-top: -20px;
	color: #27ae60;
	margin-bottom: 10px;
}*/
.row.reset-mp {  
	margin-right: 0;
	margin-left: 0;
	overflow-y: scroll;
}
.block-content{
	background-color: #c8e6c9;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.edit-modal {
	MIN-HEIGHT: 118PX;
}
.edit-modal h4 {
	color: #1EDB4C;
	font-size: 2vh;
	font-weight: bold;
	margin-top: 10px;
}



/* end modal*/

/*Button scroll to top */

/*End Button scroll */

/*Post job*/
#fisnish_title{
	margin-top: 40PX;
    margin-bottom: 40px;
	color: #4caf50; 
	font-weight: bolder;
	color: green;
    display: flex;
    justify-content: center;
}


.lable-post-job{
	color: black !important;
    font-weight: bold !important;
}
/*end post job*/

/*footer*/
.footer_area{
	background-image:url("http://ohayviec1.com/images/bg7.jpg");
	padding: 80px 0;
}

.footer_area h1 {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-weight: 900;
}
.footer_area h3 {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.footer_area i {
    width: 32px;
    font-size: 25px;
    color: #4caf50;
}
.footer_area p{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFF;
    line-height: 28px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
}


.row_custom{
	margin-right: 0;
	margin-left: 0;
}

.container{
	display: flex;
	justify-content: center;
}


/*back top*/
#back_to_top {
    background: #032339;
    position: fixed;
    border: 10%;
    bottom: 4%;
    right: 2%;
    padding: 15px 20px;
    color: white;
    cursor: pointer;

    display: none;
}
#back_to_top:hover{
    background: #0b314b;
}
/*utilities, TIỆN ÍCH */
#utilities{
    padding: 20px;
}
.utilities_image{
	width: 100%;
}
#utilities_title{
    padding-right: 0.2em;
    padding-bottom: 1em;
}
#utilities_tag{
	color: #fff;
    background-color: #dc3545;
	display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: fit-content;
}
#utilities h5 {
    font-family: 'Bangers', cursive;
    border-bottom: 5px solid #f4f4f4;
    border-bottom-color: #c0c9cf;
    line-height: 1.5;
    letter-spacing: 0.1em;
    width: fit-content;
    margin-left: -10px;
}
#utilities p {
	font-style: italic;
	font-weight: bolder;
}

/*Parner*/
#partner {
    background-color: #FFF;
    padding: 2.5em;
}
#partner h2{
   font-weight: 300;
}


.navbar_toggler_menu_open{
	display: none;
}

.navbar_toggler_menu_close{
	cursor: pointer;
	display: none;
}

/*modal customer*/
#modal_name_job{
	font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #black;
}
.modal_block {
	padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.modal_icon {
    color: #5cb85c;
    padding: 0 21px 45px 0;
    font-size: 33px;
}
.modal_right_icon_1{
    color: green;
    padding: 0 10px 10px 0;
}
.modal_right_icon_2{
	font-size: 10px;
    color: red;
    padding: 0 10px 10px 0;
}
.modal_right_icon_3{
    color: #4267B2;
    padding: 0 10px 10px 0;
}
.modal_title_text {
	font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #666666;
}
.modal_list_content{
	font-size: 17.5px;
    padding-bottom: 9px;
}
.modal_list_content h3{ 
	font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.modal_right{
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
}

#btn_show_contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#btn_show_contact ul li {    /*modal: show contact button*/
    --c: #5cb85d;
    color: var(--c);
    font-size: 15px;
    border: 0.1em solid var(--c);
    border-radius: 7.5em;
    width: 11em;
    height: 3em;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

#btn_show_contact ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#btn_show_contact ul li:hover {
    color: black;
}

#btn_show_contact ul li:hover span {
    transform: translateY(0) scale(2);
}

#btn_show_contact ul li span:nth-child(1) {
    --n: 1;
}

#btn_show_contact ul li span:nth-child(2) {
    --n: 2;
}

#btn_show_contact ul li span:nth-child(3) {
    --n: 3;
}

#btn_show_contact ul li span:nth-child(4) {
    --n: 4;
}
.modal_right p{
	font-size: 16px;
}

button.fancybox-button.fancybox-close-small {
    background: #5cb85d;
    border-radius: 0 0 50% 50%;

    box-shadow: 1px;
    box-shadow: 5px 0px 21px 13px rgba(0, 0, 0, 0.2);
}
/*end modal customer*/

/*modal candidate*/
.modal_can_avatar {
    padding-left: 0;
    padding-right: 0;	
}
.modal_can_avatar img {
	max-width: 100%;
    height: auto;
    vertical-align: middle;

}
.modal_can_info{
	
	
}
#modal_can_name{
	color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;
}
.modal_profile-preword{
	margin-bottom: 28px;
}

.modal_profile-preword span {
	background-color:  #07cb79;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative;
}

.modal_profile-preword span:before {
	border-left-color: #07cb79;
	content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 9px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0px 24px 17px 12px;
    border-color: #ecf0f1 #ecf0f1 #ecf0f1 #07cb79;
}
.profile_list_title{
	margin-bottom: 3px;
	display: block;
    width: 120px;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.profile_list_detail {
    margin-bottom: 13px;
}
#modal_free_time{
    background-color: #07cb79;
    padding: 8px;
    border-radius: 17px;
}
.modal_can_icon{
    width: 50px;
    padding: 15px 15px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    margin-right: 15px;
    background-color: #07cb79;
    color: #ffff;
}

/*end modal candate*/
@media (max-width: 1200px) {
	.container-custom {
		max-width: 95%;
	}

}  /*end container-custom*/

@media (max-width: 992px) {
	.btn-login{
		padding: 12px 16px;
	}
	.btn-register{
		padding: 12px 16px;
	}
	.text-area {
    	font-size: 42px;
	}
	.modal_right p{
		font-size: 11px;
	}
}
		

@media (max-width: 768px) {
	.container-custom {
		width: 100%;
	}
	.navbar{
		background-color: #FFF;
		min-height: 54px;
	}
	.navbar_menu_list{
		top: 54px;
		display:none;
		width: 100%;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
		background-color: #fff;
		color: black;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2); 
	}

	.navbar_toggler_menu_open{
		display: block;
	}
	.account_header{
		display: none;
	    transition: 0.5s;
	    background-color: pink;
	    border-radius: -4% 0 0 10px;
	    padding: 0 0px 0px 6px;
	    border-radius: 27px 0 0 27px;
	}


	.navbar_toggler_menu{
		cursor: pointer;
		display: block;
	}

	a.nav-link {
    	color: black !important;
	}
	.navbar_logo_name {   
		color: black ;
		font-size: 20px;
	}

	.btn {
    	margin: 6px 0px;
	}

	.banner-title {
    top: 49%;
	}
	.text-area {
    font-size: 25px;
	}
	
	.modal_right p{
		font-size: 11px;
	}
	
@media (max-width: 576px) {
	.container-custom {
		width: 100%;
	}
}
