<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<style>

	</style>
</head>
<body>
	<!-- Top Menu -->
	<nav class="panel top small main-menu">
		<div class="sections desktop">
			<div class="left">
				<ul class="menu">
					<li><a class="sidebarTrigger" data-sidebar-id="categories"><i class="material-icons small">&#xE0B8;</i><span class="hideForTablet"> Articles</span></a></li>
					<li><a href="https://designmodo.com/products/" data-wpel-link="internal">Products</a></li>
					<li><a href="http://market.designmodo.com" data-wpel-link="exclude">Market</a></li>
					<li><a href="https://designmodo.com/jobs/" data-wpel-link="internal">Jobs</a></li>
				</ul>
			</div>
			<div class="center">
				<a href="https://designmodo.com" title="Designmodo" class="logo" data-wpel-link="internal"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-text"></use></svg></a>
			</div>
			<div class="right">
				<ul class="menu crop">
					<li><a class="dropdownTrigger" data-dropdown-id="follow-us">Follow Us</a></li>
					<li class="icon-element"><a class="search-link popupTrigger" data-popup-id="search"><i class="material-icons">&#xE8B6;</i></a></li>
					<li class="icon-element"><a class="cart-link sidebarTrigger" data-sidebar-id="cart"><i class="material-icons">&#xE8CC;</i></a></li>
					<li class="icon-element"><a class="account-link sidebarTrigger" data-sidebar-id="account"><i class="material-icons">&#xE853;</i></a></li>
				</ul>
			</div>
		</div>
		<div class="sections compact hidden">
			<div class="left">
				<ul class="menu">
					<li><a class="sidebarTrigger" data-sidebar-id="categories"><i class="material-icons">&#xE0B8;</i></a></li>
					<li><a href="https://designmodo.com" title="Designmodo" class="logo" data-wpel-link="internal"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-text"></use></svg></a></li>
				</ul>
			</div>
			<div class="right">
				<ul class="menu crop">
					<li><a class="search-link popupTrigger" data-popup-id="search"><i class="material-icons">&#xE8B6;</i></a></li>
					<li><a class="cart-link sidebarTrigger" data-sidebar-id="cart"><i class="material-icons">&#xE8CC;</i></a></li>
					<li><a class="account-link sidebarTrigger" data-sidebar-id="account"><i class="material-icons">&#xE853;</i></a></li>
				</ul>
			</div>
		</div>
	</nav>

<!-- Top Menu -->

</body>
</html>